[package]
name = "cpclib-runner"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true

resolver = "2"
description = "Dependency for various cpclib crates to help running external applications (mostly assemblers or emulators)"

[dependencies]
cpclib-common = {workspace=true, features=["network"]}
cpclib-asm.workspace=true
cpclib-csl.workspace=true

camino-tempfile.workspace = true
clap = {workspace=true, features=["derive"]}
delegate.workspace = true
enigo = {workspace = true, features = ["x11rb"]}
sevenz-rust.workspace = true
shlex.workspace = true
utf8-chars.workspace = true
xcap.workspace = true
rust-embed = { workspace = true, features = ["compression", "debug-embed"] }

bon.workspace = true
directories = "6.0.0"
flate2 = "1.1.5"
glob.workspace = true
tar = "0.4.44"
rust-ini.workspace = true
scraper = "0.25.0"
transparent.workspace = true
xz2 = "0.1.7"
wmctrl = "0.1.8"
zip-extract.workspace = true

[target.'cfg(windows)'.dependencies]
fs_extra = "1.3.0"

[features]
default = ["fap"]
fap = []
