snapshot/target/
cpclib/target/
*.swp
tags
target
test.dsk
tests/dsk/AMSTRAD CPC eDSK Editor - 07-05-2019.exe
.vscode/
**/perf.data
**/perf.data.old
__pycache__

# IDE directories
.idea/
.zed/

# Node modules
node_modules/
**/node_modules/
