[package]
name = "cpclib-bndbuild-ratatui"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true

[dependencies]
ratatui = "0.30.0"
cpclib-bndbuild.workspace = true
anstyle = "1.0"
