[package]
name = "cpclib-common"
version = "0.5.0"
edition = "2021"
description = "common libraries used in cpclib"
repository = "https://github.com/cpcsdk/rust.cpclib"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bitfield = "0.13.2"
bitflags = "1.3.2"
bitsets = "0.1.1"
bitvec = "1.0.0"

itertools= "0.10.3"
lazy_static = "1.4.0"
nom = "7.1.0"
nom_locate = "4.0.0"
num= "0.4.0"
num-bigint = "0.4.3"
smallvec = "1.8.0"
smol_str = "0.1.21"
strsim = "0.10.0"


time = { version = "0.3.7", optional = true }
semver = { version = "1.0.5", optional = true }
clap = { version = "3.1.0", optional = true }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
rayon = "1.5.1"


[features]
cmdline = ["time", "semver", "clap"]
