[package]
name = "visual-basm"
version.workspace = true
description = "Visual z80 assembler relying on cpclib-asm"

authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true

[package.metadata.workspaces]
independent = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
cpclib-basm.workspace = true
claui.workspace = true
eframe.workspace = true

[build-dependencies]
built = { version = "0.8.0", features = ["chrono"] }
static_vcruntime = "3.0"

[[bin]]
name = "visual-basm"
test = false
bench = false
