name: Linux build

on:
  push:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-linux:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Dependencies
      run: sudo apt update && sudo apt install libgtk-3-dev libcogl-pango-dev libxcb-render0-dev libxcb-shape0-dev libxcb-xfixes0-dev libspeechd-dev libxkbcommon-dev libssl-dev libxdo-dev libwebkit2gtk-4.1-dev  curl wget file libxdo-dev libssl-dev libayatana-appindicator3-dev librsvg2-dev
    
    - name: Remove unnecessary directories to free up space
      run: |
        sudo rm -rf /usr/local/.ghcup
        sudo rm -rf /opt/hostedtoolcache/CodeQL
        sudo rm -rf /usr/local/lib/android
        sudo rm -rf /usr/share/dotnet
        sudo rm -rf /opt/ghc
        sudo rm -rf /usr/local/share/boost
        sudo rm -rf /usr/lib/jvm
        sudo rm -rf /usr/local/share/powershell
        sudo rm -rf /usr/share/swift
        sudo rm -rf /usr/local/julia*
        sudo rm -rf /usr/local/share/chromium
        sudo rm -rf /opt/microsoft /opt/google
        sudo rm -rf /opt/az
        docker system prune -af || true
        docker builder prune -af || true

    
    - uses: actions-rs/toolchain@v1
      with:
            toolchain: nightly
            profile: minimal
            target: x86_64-unknown-linux-gnu
    - uses: Swatinem/rust-cache@v2
    - name: install tauri cli
      run: cargo install tauri-cli --version "^2.0.0" --locked
    - uses: actions-rs/cargo@v1
      with:
        command: test
        toolchain: nightly
        args: --features hfe
    - name: "cleanup after test"
      run: "cargo clean"
    - uses: actions-rs/cargo@v1
      with:
        command: build
        toolchain: nightly
        args: --bins --release --features hfe
    - name: build tauri
      run: cd cpclib-bndbuild-tauri && cargo tauri build
    - uses: ncipollo/release-action@v1
      with:
          token: "${{ secrets.GITHUB_TOKEN }}"
          allowUpdates: true
          removeArtifacts: false
          prerelease: true
          draft: false
          tag: latest
          name: "Development Build"
          generateReleaseNotes: false
          artifacts: "target/release/basm, target/release/bdasm, target/release/bndbuild-gui, target/release/bndbuild, target/release/catalog,  target/release/cpc2img, target/release/cpclib-visual-bndbuild, target/release/visual-basm,  target/release/hideur, target/release/imgconverter, target/release/snapshot, target/release/bundle/deb/bndbuild-tauri_0.1.0_amd64.deb, target/release/bundle/rpm/bndbuild-tauri-0.1.0-1.x86_64.rpm, target/release/bundle/appimage/bndbuild-tauri_0.1.0_amd64.AppImage"
    - name: "cleanup after build"
      run: "cargo clean"
